.back_toLogin_ui{
    background-color: #f0f0f0;
    padding: 0.6rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 14px;
    cursor: pointer;
    color: #165ef0;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.back_toLogin_ui:hover{
    background-color: #e5e5e5;
}
.back_toLogin_ui svg{
    font-size: 1.2rem;
}