.ui_button{
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #165ef0;
    cursor: pointer;
    color: white;
    transition:all 0.3s ease-in-out;
}
.ui_button:hover{
    background-color: #0a5fca;
}
.ui_button:active{
    background-color: #165ef0;
}